<div class="container">
  <h2 class="text-center my-3">Sorry for poor styling, no more time to improve it :)</h2>
  <p>* please run the .NET API first to avoid websocket connection issues (app is kind of real-time, changes are propagated for all connected clients/tabs)</p>
  <p>** CORS constraints removed only for Development environment</p>
  <div class="row py-5">
    <div class="col">
      <app-voters-list></app-voters-list>
    </div>
    <div class="col">
      <app-candidates-list></app-candidates-list>
    </div>
  </div>
  <app-voting></app-voting>
</div>